.root {
    -fx-font-family: "Inter SemiBold";
    -fx-font-size: 14px;
}

.note-header-cell {
    -fx-text-fill: white;
    -fx-padding: 3px;
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-border-color: gray;
    -fx-border-width: 1px;
}

.note-header-cell:highlighted {
    -fx-background-color: rgba(31,111,235,1.0);
}

.general-toolbar-button {
    -color-fg-default: "#2196F3";
}

.positive-toolbar-button {
    -color-fg-default: "#4CAF50";
}

.medium-toolbar-button {
    -color-fg-default: "#FF9800";
}

.negative-toolbar-button {
    -color-fg-default: "#F44336";
}