.root {
    -fx-font-family: "Inter SemiBold";
    -fx-font-size: 14px;
}

.general-toolbar-button {
    -color-fg-default: "#2196F3";
}

.positive-toolbar-button {
    -color-fg-default: "#4CAF50";
}

.medium-toolbar-button {
    -color-fg-default: "#FF9800";
}

.negative-toolbar-button {
    -color-fg-default: "#F44336";
}